/*reglas movil*/
@media (max-width: 360px) {
    body {
      background-color: var(--fondoMovil);
      width:100vw;
     
    }
    main{
      display: flex;
      flex-direction: column;
      width:100%;
    }
    main section{
      width:100%;
      box-sizing: border-box;
    }
    header {
      background-color:transparent;
    }

    .navegacion {
      display: none;
    }
    .linea {
      display: flex;
      justify-content: center;
      height: 4px;
      width: 40px;
      margin: 5px;
      background-color: black;
    }
    .burger-menu{
      display: flex;
  
      text-align: center;
      justify-content: center;
      align-items: center; 
      position: fixed;
      left:10px;
      top:10px;
      background-color: var(--header);
      color: #ffff;
      border-radius: 5px;
      width: 40px; 
      height: 40px;
      margin: 10px; 
      padding: 0px; 
      cursor: pointer;
    }
    .arrow__home{
      width: 40px;
      height: 40px;
      position: fixed;
      border-radius: 5px;
      background-color: #0041f3ae;
     left:15px;
      bottom: 50px;
      text-align: center;  
    }
    .header__hero{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%;
        padding: 3% 0;
        height: none;
        margin-bottom: 5rem;
      }
    .header__perfil{
      
        display:flex;
        flex-direction: column;
        background-color: transparent;
       
        margin: 0px;
        padding: 5px;  
    }
    .about{
      display: flex;
      flex-direction: column;
      /* margin-top: 10rem; */
    }
    .about ul{
     width: 100%;
    }
    .about ul li{
      margin:0;
      margin-top: 15px;
    }

    .skills__list li{
      margin:0.5rem;
    }

    /*seccion academic */
    .academic__group{
      display:flex;
      flex-direction: column;
    
    }
    .group__article{
      width: 100%;
      padding:0;
    }
    /*seccion experiencia pro*/
    .experience{
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .expe__article__figure{
      display: flex;
      flex-direction: column;
    }
  }