/*reglas movil*/
@media screen and (max-width: 430px) {
    body {
      background-color: var(--fondoMovil);
      margin: 0px;
      padding: 0px;
    }
    header {
      background-color:transparent;
    }
    .navegacion {
      display: none;
    }
    .linea {
      display: flex;
      justify-content: center;
      height: 4px;
      width: 40px;
      margin: 5px;
      background-color: black;
    }
    .burger-menu{
      display: flex;
  
      text-align: center;
      justify-content: center;
      align-items: center; 
      position: fixed;
      right:10px;
      top:20px;
      background-color: var(--header);
      color: #ffff;
      border-radius: 5px;
      width: 40px; 
      height: 40px;
      margin: 0px; 
      padding: 0px; 
      cursor: pointer;
    }
   
    .header__hero{
        display:flex;
        flex-direction: column;
        background-color: transparent;
        margin: 0px;
        padding: 0px;
    }
    .header__perfil{
        
        display:flex;
        flex-direction: column;
        background-color: transparent;
        margin: 0px;
        padding: 0px;  
    }
  }