
:root {
  /*COLORES*/
  --primario: #c50ff7;
  --secundario: #2ecc71;
  --terciario: #b2fa73;
  --header: #333333b3;
  --titulos: #344344;
  --subtitulo: #999393;
  --fondoDesktop: #f3f6e5c8;
  --fondoTablet: #5734f4c8;
  --fondoMovil: #f79f52c8;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
a {
  text-decoration: none;
}
/*reglas para dektop*/
body {
    /* background: linear-gradient(135deg, #c1e9fde0 0%, #79f88ec7 50%, #b2fa73 100%); */
    background: radial-gradient(circle, #c1e9fde0 0%,  #a9f8b6c7 50%,#cff4af7e 100%);
    background-attachment: fixed;
    background-size:auto;

  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  width: 100%;
 
}
.arrow__home{
  width: 40px;
  height: 40px;
  position: fixed;
  border-radius: 5px;
  background-color: #0041f3ae;
  right:15px;
  bottom: 50px;
  text-align: center;
}
.arrow__home a img{
  width: 35px;
  height: 35px;
}
.arrow__home a p{
  color: #003d19;
  font-weight: 600;
}
/* <------ inicio seccion nav bar ----------->*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  color: white;
  background-color: var(--header);
}
.img__perfil {
  border-radius: 50%;
  max-width: 300px;
}
.hamburguesa {
  display: none;
}
.navegacion {
  width: 80%;
  margin: auto;
}
nav ul {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: white;
  background-color: rgba(0, 0, 0, 0.606);
  border: 2px solid var(--terciario);
  border-radius: 15px;
  padding: 5px 20px;
  margin: 3px;
}
nav ul li a:hover{
  background-color: var(--terciario);
  color:#003d19
}
/* <------ inicio seccion nav bar ----------->*/
/* <------  seccion main ----------->*/
main {
  box-sizing: border-box;
  padding: 0 4%;

  width: 100%;
  flex-wrap: wrap;
}
/* <------  inicio seccion hero ----------->*/
.header__hero {
  padding: 5%;
  height: 45vh;
  background-color: #9993939f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.header__perfil {

  font-size: 1.2rem;
  width: 60%;
}
.header__perfil h2, 
.about h2, 
.skills__title,
.academic h2,
.experience h2,
.contact h2 {
  margin: 2% 0;
  font-size: 2rem;
  color: #2ecc71;
  text-shadow: 3px 3px 2px black;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: row;
}
.hero__redes {
  list-style: none;
}
.hero__redes li {
  width: 85px;
  border-radius: 10px;
  border: 1px solid var(--titulos);
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px #333;
  background-color: var(--fondoMovil);
}
.hero__redes li:hover {
  background-color: var(--terciario);
}
.hero__redes li a {
  color: var(--fondoTablet);
}
/* <------fin seccion hero ----------->*/
/* <------inicio seccion about ----------->*/
.about {
  padding: 5%;
  /* background-color: #ffffff91; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about ul{
    width: 70%;
    padding: 0 5rem;
    font-size: 1.2rem;
}
.about ul li{
    list-style: none;
    padding: 2rem;
    margin: 2rem;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: 5px 5px 5px black;
  }
  /* <------fin seccion about ----------->*/
  /* <------inicio seccion skills ----------->*/
  
.skills{
  padding: 5%;
    background-color: #e6ebff7a;
}
.skills__heading{
    display: flex;
    flex-direction: column;
}
.skills__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.skills__list li{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    border:2px solid var(--header);
    box-shadow: 5px 5px 2px #999393;
    color:#003d19;
    font-weight: 600;
}
.skill__icon{
  width:50px;
  height: 50px;
  margin: 5px;
}

/* <------fin seccion skills ----------->*/
/* <------inicio seccion academic ----------->*/
.academic{
  padding: 5%;
  /* background-color: #a0f3f698; */
  display:flex;
  flex-direction: column;
 text-align: center;
}
.academic__group{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.group__article{
  width:30%;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}
.academic__article__figure img{
  box-sizing: border-box;
  width: 100%;
  height: 285px;
  padding: 2rem;
}
.academic__article__figure figcaption{
  font-weight: 600;
}

/* <------fin seccion academic ----------->*/
/* <------inicio seccion experience ----------->*/
.experience{
  padding: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.expe__article{
 
  margin: 2rem;
  border-bottom: 5px solid #003d19;
  text-align: center;
}


.expe__article__figure{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}
.expe__article__figure img {
  margin: 1rem;
  width: 300px;
}
.expe__article__figure figcaption{
  font-weight: 600;
  text-align: left;  
}


/* <------fin seccion experience ----------->*/
/* <------inicio seccion contact ----------->*/
.contact{
  height: 70vh;
  /* background-color: #b2fa73; */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario{
  width: 70%;
  border-radius: 15px;
  background-color: #419463;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact p{
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5rem;
  color: var(--titulos);

}
input:focus,textarea:focus{
 outline: 2px solid #b2fa73;
 border-radius: 5px;
 padding-left: 5px;
}
input{
  font-size: 1.2em;
}
.form__group{
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.form__text__area{
  width: 100%;
  font-size: 1.5em;
}
.form__btn{
  height: 30px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0 2rem;
  background-color: #2ecc71;
  border-radius: 5px;

}
.form__btn:hover{
  border:2px solid white;
  background-color: #22f502;
  font-weight: 600;
  cursor: pointer;
}

/* <------fin seccion contact ----------->*/
/* <------inicio seccion footer ----------->*/
footer{
  
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 2rem;
}
/* <------fin seccion footer ----------->*/



